/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}

/* Standards Across Platforms */
/******************************/

body {
    color: #501414;
    background-color: #f9f9f9;
    font-family: Georgia, serif;
    font-size: 1.5vw;

    overflow: hidden;
    word-break: normal;
    -ms-word-break: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: manual;
    -moz-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
  }

h1 {
    font-size: 3.5vw;
}

h2 {
    font-size: 3vw;
    margin-bottom: 3vh;
}

h3 {
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: #501414;
}

a:hover {
    opacity: 0.5;
}

nav {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    background-color: #f6f1ea;
    border-bottom: 1px solid #501414;
}

.wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 1fr;
    height: 90vh;
    overflow: auto;
}

.logo {
    height: 6.5vh;
    width: 15vw;
    background-image: url('../img/logo/MainLogo.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-left: 3vw;
}

.icon {
    display: none;
}

.innerMenu > a {
    margin: 0 1.5vw;
}

.menuBox {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 20vw;
    height: 30vh;
    background-color: #f6f1ea;
    color: #501414;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuBox > a {
    font-size: 2vw;
    margin: 2.5vh 0;
}

[class^="jumbotron"] {
    grid-column: col-start / span 12;
    position: relative;
}

[class^="jumbotron"] > img {
    display: block;
    width: 100vw;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

[class^="jumbotronText"], .jumbotronSubtitle {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jumbotronTextSent {
    height: 60vh;
}

.jumbotronTextSent div {
    width: 80%;
}

.jumbotronSubtitle {
    height: 15vh;
    border-top: 1px solid #501414;
}

[class^="contentWhole"] {
    grid-column: col-start / span 12;
}

[class^="contentWhole"] > img {
    display: block;
    width: 100vw;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.jumboText {
    position: absolute;
    width: 60%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3vw;
    font-family: 'Playfair Display SC', sans-serif;
}

.jumbotronAbout {
    color: #f9f9f9;
}

.jumbotronAbout .jumboText {
    line-height: 3vw;
    font-size: 2vw;
}

.jumbotronAbout .jumboText span {
    font-size: 4vw;
    font-family: 'Cedarville Cursive', cursive;
}

.jumbotronGallery {
    color: #f9f9f9;
    margin-bottom: 3vh;
}

/* .galleryText {
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    font-size: 3vw;
    position: relative;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display SC', sans-serif;
} */

.jumbotronGallery > .jumboText {
    width: 50%;
    font-size: 2vw;
    top: 8%;
    padding: 1vh 0;
    background-color: rgba(80,20,20,0.7);
}

h2 > span {
    font-family: 'Cedarville Cursive', cursive;
}

[class^="contentLeft"] {
    grid-column: col-start / span 6;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentLeftInverted {
    background-color: #501414;
}

[class^="contentRight"] {
    grid-column: 7 / span 6;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentRightInverted {
    background-color: #501414;
}

[class^="contentRight"] > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contentHeading {
    grid-column: col-start / span 12;
    height: 5vh;
    margin-left: 3vw;

    display: flex;
    align-items: center;
}

#slideContain {
    opacity:1;
}

#slideContain.fadeOut {
    opacity:0;
    transition: opacity 1s; 
}

[class^="innerContentClickable"] {
    height: 90%;
    width: 90%;
    border: 2px solid #501414
}

[class^="innerContentClickable"] > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.outerGalleryDiv {
    position: absolute;
    margin: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.80);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .innerGalleryDiv {
    height: 80vh;
    width: 80vw;
    color: white;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .galleryArrows {
    height: 10vh;
    width: 5vw;
    text-align: center;
    color: white;
    font-size: 3em;
    cursor: pointer;
  }

.innerContent {
    color: #501414;
    width: 80%;
    text-align: center;
}

.innerContent > h2 {
    color: #501414;
}

.innerContent > p {
    line-height: 4vh;
}

.innerContentInverted {
    color: #f9f9f9;
    width: 80%;
    text-align: center;
}

.innerContentInverted > h2 {
    color: #f9f9f9;
}

.innerContentInverted > p {
    line-height: 4vh;
}

.contentWholeTestimonial {
    height: 80vh;
    border-top: 1px solid #501414;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentWholeTestimonial > .innerContent {
    text-align: left;
    line-height: 2vh;
}

.contentWholeTestimonial > .innerContent > p {
    font-size: 1.3vw;
    margin: 1.15vh 0;
}

.innerContent > h3 {
    margin-bottom: 3vh;
}

.contentWholeHome {
    position: relative;
}

.textContainer {
    position: absolute;
    width: 20%;
    height: 50%;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(80,20,20,0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.textContainer > p {
    font-family: 'Playfair Display SC', sans-serif;
    font-size: 3vw;
    color: white;
}

.contactForm {
	grid-column: col-start / span 12;
	display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    height: 65vh;
}

.innerContact {
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

input[type="text"] {
	width: 40vw;
	height: 7vh;
	font-size: 1.5vw;
	border: 1px solid #ccc;
	font-family: Georgia, serif;
}

select {
	width: 25vw;
	height: 7vh;
	font-size: 1.5vw;
	background-color: #fff;
	border: 1px solid #ccc;
}

#zipCode {
  width: 15vw;
}

.contactOption {
  margin: 1vh 0;
}

.contactOption > p {
	font-weight: bold;
}

#contactType {
    width: 80%;
}

.contactOwnLand {
	margin-left: 10vw;
}

#furtherInfo {
  font-family: Georgia, serif;
	height: 20vh;
	width: 40vw;
	font-size: 1.5vw;
	border: 0.5px solid #ccc;
	resize: none;
}

input[type="submit"] {
	height: 5vh;
    width: 20vw;
    font-size: 1.5vw;
	background-color:  #501414;
	color: white;
	border: 1px solid  #501414;
	font-family: Georgia, serif;
}

footer {
    grid-column: col-start / span 12;
    height: 10vh;
    border-top: 1px solid #501414;
    background-color: #f6f1ea;
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Mobile Devices */
/******************/

@media (min-width: 320px) and (max-width: 480px) {
    [class^="contentLeft"] {
        grid-column: col-start / span 12;
        height: 45vh;
    } 
    
    [class^="contentRight"] {
        grid-column: col-start / span 12;
        height: 45vh;
    }
    
    h2 {
        font-size: 5vw;
    }

    p {
        font-size: 4vw;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logo {
        margin-left: 40vw;
        width: calc((1831/1468)*100vh);
    }
    
    .icon {
        display: block;
        margin: 0 5vw;
        font-size: 3vw;
    }

    .innerMenu {
        display: none;
    }
    
    .innerMenu > a {
        font-size: 4vw;
        margin: 0;
    }

    .jumboText {
        font-size: 4vw;
        width: 80%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .jumbotronGallery > .jumboText {
        width: 80%;
        font-size: 4vw;
        top: 8%;
    }

    [class^="jumbotronText"] > h1 {
        font-size: 5vw;
    }

    .contentHeading {
        justify-content: center;
    }

    .contentHeading h3 {
        font-size: 3vw;
    }

    .contactForm {
        height: 130vh;
    }

    #contactType {
        width: auto;
    }
    
    input[type="text"] {
        font-size: 3vw;
        width: 70vw;
    }
    
    select {
        font-size: 3vw;
        width: 45vw;
    }

    label, #furtherInfo {
        font-size: 3vw;
    }
    
    #zipCode {
      width: 25vw;
    }
    
    .contactOwnLand {
        margin-left: 10vw;
    }
    
    #furtherInfo {
        width: 70vw;
    }

    .innerGalleryDiv {
        background-size: 100% auto;
        width: 90vw;
    }

    .innerContent > p {
        line-height: 3vh;
    }

    .innerContentInverted > p {
        line-height: 3vh;
    }

    .contentWholeTestimonial {
        height: 70vh;
    }

    .contentWholeTestimonial > .innerContent > p {
        font-size: 2vw;
        line-height: 2vh;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    [class^="contentLeft"] {
        grid-column: col-start / span 12;
        height: 45vh;
    } 
    
    [class^="contentRight"] {
        grid-column: col-start / span 12;
        height: 45vh;
    }

    h2 {
        font-size: 5vw;
    }

    p {
        font-size: 4vw;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logo {
        margin-left: 40vw;
        width: calc((1831/1468)*100vh);
    }
    
    .icon {
        display: block;
        margin: 0 5vw;
        font-size: 3vw;
    }

    .jumboText {
        font-size: 4vw;
        width: 80%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .jumbotronGallery > .jumboText {
        width: 80%;
        font-size: 4vw;
        top: 8%;
    }

    .innerMenu {
        display: none;
    }
    
    .innerMenu > a {
        font-size: 4vw;
        margin: 0;
    }

    .contentHeading {
        justify-content: center;
    }

    .contentHeading h3 {
        font-size: 3vw;
    }

    .contactForm {
        height: 130vh;
    }

    #contactType {
        width: auto;
    }

    input[type="text"] {
        width: 70vw;
        font-size: 2vw;
    }
    
    select {
        width: 45vw;
        font-size: 2vw;
    }
    
    #zipCode {
      width: 25vw;
      font-size: 2vw;
    }
    
    .contactOwnLand {
        margin-left: 10vw;
    }
    
    #furtherInfo {
        width: 70vw;
        font-size: 2vw;
    }

    .innerGalleryDiv {
        background-size: 100% auto;
        width: 90vw;
    }

    .innerContent > p {
        line-height: 3vh;
    }

    .innerContentInverted > p {
        line-height: 3vh;
    }

    .contentWholeTestimonial {
        height: 70vh;
    }

    .contentWholeTestimonial > .innerContent > p {
        font-size: 2vw;
        line-height: 2vh;
    }
}

/* Tablet Devices */
/******************/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

/* Desktop/Laptop Devices */
/**************************/

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 1281px) {
    body {
        font-size: 1.2vw;
    }

    h2 {
        font-size: 2.5vw;
    }

    input[type="text"] {
        font-size: 1.2vw;
    }

    input[type="submit"] {
        font-size: 1.2vw;
    }

    #furtherInfo {
          font-size: 1.5vw;
      }
}