        <footer class="container pt-3 mt-3">
                <div class="row">
                        <div class="col-md-3 col-sm-6 d-flex flex-column justify-content-center align-items-center">
                                <h5>Third Day Builders</h5>
                                <p class="text-small text-muted"><i class="fas fa-envelope"></i> weaver.thirdday@gmail.com</p>
                                <p class="text-small text-muted"><i class="fas fa-phone-volume"></i> (304) 283-3863</p>
                        </div>
                        <div class="col-md-3 col-sm-6 d-flex flex-column justify-content-center align-items-center">
                                <h5>Navigation</h5>
                                <ul class="list-unstyled text-small text-center">
                                        <li>
                                                <a class="text-muted" href="/">Home</a>
                                        </li>
                                        <li>
                                                <a class="text-muted" href="/about">About</a>
                                        </li>
                                        <li>
                                                <a class="text-muted" href="/gallery">Gallery</a>
                                        </li>
                                        <li>
                                                <a class="text-muted" href="/testimonials">Reviews</a>
                                        </li>
                                        <li>
                                                <a class="text-muted" href="/contact">Contact</a>
                                        </li>
                                </ul>
                        </div> 
                        <div class="col-md-3 col-sm-6 d-flex flex-column justify-content-center align-items-center">
                                <h5>Other</h5>
                                <ul class="list-unstyled text-small w-auto text-center">
                                        <li>
                                                <a class="text-muted" href="/">Privacy</a>
                                        </li>
                                </ul>
                        </div> 
                        <div class="col-md-3 col-sm-6 d-flex flex-column justify-content-center align-items-center">
                                <img id="logo" class="mb-3" src="/imgs/logo/MainLogo.svg">
                                <small class="mb-3">Third Day Builders, LLC.</small>
                                <small class="d-block text-muted">© 2017-2018</small>
                        </div> 
                </div>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
    
</html>