
<!DOCTYPE>

<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Third Day Builders - Building custom homes and projects at the highest quality.</title>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link href="imgs/logo/mainlogo_title.ico" type="image/ico" rel="shortcut icon">
    </head>
    
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom py-0">
                <a class="navbar-brand" href="/"><img id="logo" src="/imgs/logo/MainLogo.svg"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto justify-content-around">
                        <a class="nav-item nav-link pr-5" href="/">Home</a>
                        <a class="nav-item nav-link pr-5" href="/about">About</a>
                        <a class="nav-item nav-link pr-5" href="/gallery">Gallery</a>
                        <a class="nav-item nav-link pr-5" href="/testimonials">Testimonials</a>
                        <a class="nav-item nav-link pr-5" href="/contact">Contact</a>
                    </div>
                </div>
        </nav>
        
        