<% include ../partials/header %>

    <div class="jumbotron-fluid position-relative">
        <div class="container jumbotext">
            <h1 id="home-header">Third Day Builders</h1>
            <h4>Building custom homes, additions, and remodels</h4>
        </div>
        <img class="w-100" srcset="
            imgs/jumbo/asset6-480.jpg 480w,
            imgs/jumbo/asset6-767.jpg 767w,
            imgs/jumbo/asset6-1024.jpg 1024w,
            imgs/jumbo/asset6-1280.jpg 1280w,
            imgs/jumbo/asset6-1280.jpg 1300w"
            sizes="100%" 
            src="img/jumbo/home/asset6-480.jpg"
            alt="Home Asset 1"> 
    </div>

    <div class="col-12 banner flex-c-center">
        <h4 class="invert-text text-center banner-text">Begin Building Your Dream Home Today!</h4>
        <i class="fas fa-caret-down caret"></i>
    </div>
    
    <div class="container" >
        
        <div class="row">
            <div class="col-lg-6 col-sm-12 flex-c-center ">
                <div class="w-75 text-center">
                    <p id="p-custom">Third Day Builders is soley owned and operated by Kevin Weaver. We are a company stationed in Jefferson County, WV and specialize in building <strong>custom homes</strong>, building <strong>additions</strong>, and <strong>remodeling</strong> homes.</h5>
                    <p class="mt-3">Our mission is to provide ample amounts of experience, skill, and attention in order to help you build the home of your dreams.</h5>
                </div>
            </div>
            
            <div class="col-lg-6 col-sm-12 px-0 flex-c-center" id="slide-contain">
                <img class="slide" 
                srcset="
                <imgs/slideshow/home1-480.jpg 480w,
                imgs/slideshow/home1-767.jpg 767w,
                imgs/slideshow/home1-1024.jpg 1024w,
                imgs/slideshow/home1-1280.jpg 1280w,
                imgs/slideshow/home1-1280.jpg 1300w"
                sizes="100%"
                src="imgs/slideshow/home1-480.jpg"
                alt="Home Slideshow Screen">
                <img class="slide" 
                srcset="
                <imgs/slideshow/home2-480.jpg 480w,
                imgs/slideshow/home2-767.jpg 767w,
                imgs/slideshow/home2-1024.jpg 1024w,
                imgs/slideshow/home2-1280.jpg 1280w,
                imgs/slideshow/home2-1280.jpg 1300w"
                sizes="100%"
                src="imgs/slideshow/home2-480.jpg"
                alt="Home Slideshow Screen">
                <img class="slide" 
                srcset="
                <imgs/slideshow/home3-480.jpg 480w,
                imgs/slideshow/home3-767.jpg 767w,
                imgs/slideshow/home3-1024.jpg 1024w,
                imgs/slideshow/home3-1280.jpg 1280w,
                imgs/slideshow/home3-1280.jpg 1300w"
                sizes="100%"
                src="imgs/slideshow/home3-480.jpg"
                alt="Home Slideshow Screen">
                <img class="slide" 
                srcset="
                <imgs/slideshow/home4-480.jpg 480w,
                imgs/slideshow/home4-767.jpg 767w,
                imgs/slideshow/home4-1024.jpg 1024w,
                imgs/slideshow/home4-1280.jpg 1280w,
                imgs/slideshow/home4-1280.jpg 1300w"
                sizes="100%"
                src="imgs/slideshow/home4-480.jpg"
                alt="Home Slideshow Screen">
                <img class="slide" 
                srcset="
                <imgs/slideshow/home5-480.jpg 480w,
                imgs/slideshow/home5-767.jpg 767w,
                imgs/slideshow/home5-1024.jpg 1024w,
                imgs/slideshow/home5-1280.jpg 1280w,
                imgs/slideshow/home5-1280.jpg 1300w"
                sizes="100%"
                src="imgs/slideshow/home5-480.jpg"
                alt="Home Slideshow Screen">
                <img class="slide" 
                srcset="
                <imgs/slideshow/home6-480.jpg 480w,
                imgs/slideshow/home6-767.jpg 767w,
                imgs/slideshow/home6-1024.jpg 1024w,
                imgs/slideshow/home6-1280.jpg 1280w,
                imgs/slideshow/home6-1280.jpg 1300w"
                sizes="100%"
                src="imgs/slideshow/home6-480.jpg"
                alt="Home Slideshow Screen">
                <img class="slide" 
                srcset="
                <imgs/slideshow/home8-480.jpg 480w,
                imgs/slideshow/home8-767.jpg 767w,
                imgs/slideshow/home8-1024.jpg 1024w,
                imgs/slideshow/home8-1280.jpg 1280w,
                imgs/slideshow/home8-1280.jpg 1300w"
                sizes="100%"
                src="imgs/slideshow/home8-480.jpg"
                alt="Home Slideshow Screen">
                <img class="slide" 
                srcset="
                <imgs/slideshow/home9-480.jpg 480w,
                imgs/slideshow/home9-767.jpg 767w,
                imgs/slideshow/home9-1024.jpg 1024w,
                imgs/slideshow/home9-1280.jpg 1280w,
                imgs/slideshow/home9-1280.jpg 1300w"
                sizes="100%"
                src="imgs/slideshow/home9-480.jpg"
                alt="Home Slideshow Screen">
            </div>
        </div>
        
        <div class="invert-background pt-5 pb-3">
            <h4 class="invert-text text-center">Why Choose Third Day?</h4>
            <div class="card-group container">
                <div class="card invert-background invert-text border-0 mb-1 mr-3 ml-3 pb-3 pt-5" id="mobile">
                    <i class="card-img-top fas fa-hands-helping text-center icon-custom"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">Dependable</h5>
                        <p class="card-text">With over 30 years of experience building custom homes, we guarantee quality and longevity with everything we build.</p>
                    </div>
                </div>
                <div class="card invert-background invert-text border-0 mb-1 mr-3 ml-3 pb-3 pt-5" id="mobile">
                    <i class="card-img-top fas fa-user text-center icon-custom"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">Personable</h5>
                        <p class="card-text">Building a home is an incredible journey and we guarantee our full support throughout the entire experience.</p>
                    </div>
                </div>
                <div class="card invert-background invert-text border-0 mb-1 mr-3 ml-3 pb-3 pt-5" id="mobile">
                    <i class="card-img-top fas fa-exchange-alt text-center icon-custom"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">Flexible</h5>
                        <p class="card-text">We are commited to tailoring your home to your specific needs and desires. No matter the design, we can accomodate.</p>
                    </div>
                </div>
            </div>
            <div class="text-center mb-5">
                <a href="/testimonials" class="btn btn-custom-invert btn-lg">See What Our Customers Think</a>
            </div>
        </div>
        
        <div class="position-relative px-0 mx-0">
            <div class="text-container">
                        <p>Quality.</p>
                        <p>Honesty.</p>
                        <p>Detail.</p>
            </div>
            <img srcset="
                    imgs/jumbo/asset2-480.jpg 480w,
                    imgs/jumbo/asset2-767.jpg 767w,
                    imgs/jumbo/asset2-1024.jpg 1024w,
                    imgs/jumbo/asset2-1280.jpg 1280w,
                    imgs/jumbo/asset2-1280.jpg 1300w"
                    sizes="100%" 
                    src="imgs/jumbo/home/asset2-480.jpg"
                    alt="Home Asset 2">
        </div>
    </div>

    <script>
    
    </script>

<% include ../partials/footer %>