<% include ../partials/header %>

<div class="jumbotron-fluid position-relative">
    <div class="container jumbotext-about">
        <h1>About</h1>
        <h5>Information about Third Day Builders and Kevin Weaver</h5>
    </div>
    <img class="w-100" srcset="
        imgs/jumbo/asset3-480.jpg 480w,
        imgs/jumbo/asset3-767.jpg 767w,
        imgs/jumbo/asset3-1024.jpg 1024w,
        imgs/jumbo/asset3-1280.jpg 1280w,
        imgs/jumbo/asset3-1600.jpg 1300w"
        sizes="100%" 
        src="img/jumbo/home/asset3-480.jpg"
        alt="About Asset 1">
</div>

<div class="container pt-5">
    <div class="row pb-5">
        <div class="col-lg-6 col-sm-12">
            <h2 class="pb-3">About the Builder</h2>
            <p class="lh">Kevin is a lifelong resident of historic Jefferson County, West Virginia. He is a second generation contractor with 35 years of experience. He is a custom builder focused on building relationships with clients in order to bring detail and quality work to achieve the ultimate home for clients. His work is well known for quality and honesty. He has experience with custom home building, remodeling projects, additions, and customized garages.</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <img srcset="
                imgs/jumbo/asset4-480.jpg 480w,
                imgs/jumbo/asset4-767.jpg 767w,
                imgs/jumbo/asset4-1024.jpg 1024w,
                imgs/jumbo/asset4-1280.jpg 1280w,
                imgs/jumbo/asset4-1280.jpg 1300w"
                sizes="100%" 
                src="imgs/jumbo/asset4-480.jpg"
                alt="About Asset 2">
        </div>
    </div>

    <div class="banner-about flex-c-center">
        <h4 class="invert-text text-center fancy-text">"Home <span>is where the story begins...</span>"</h4>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6 col-sm-12">
            <h2 class="pb-3">Our Process</h2>
            <p class="lh">We pride ourselves on building homes and projects with quality, integrity, and style. With Third Day Builders, we provide the unique opportunity to work one-on-one with a contractor who has over 30 years of experience building custom homes. This one-on-one communication allows for customers to directly communicate their needs and wishes to build the home or project they envision. This eliminates the frustration and time wasted trying to communicate wishes through a chain of employees. We guarantee to be with you every step of the way during this very important process.</p>
            <p class="lh"></p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4 class="pb-3 pf-font">Here's a brief overview of our process:</h4>
            <ul>
                <li><p><strong>Initial Contact:</strong> The client can contact us through the website or by the provided phone number.</p></li>
                <li><p><strong>Initial Meeting:</strong> The client provides us with the plans for their future home, addition, or remodel. If none exist, we will work together to develop these plans. This is an opportunity for us to fully understand the needs and desires of the client.</p></li>
                <li><p><strong>Proposal:</strong> We develop a proposal based on the budget, plans, and other various factors. Once everything is settled, we provide a timeline for when the new home, addition, or remodel will be finished.</p></li>
                <li><p><strong>Continued Communication:</strong> While building the project, the builder will continue to communicate with the client. Any concerns, alterations, or further actions can be discussed.</p></li>           
                <li><p><strong>Our Guarantee:</strong> We honor a one year, new build warranty and a ten year structural warranty.</p></li>     
            </ul>
        </div>
    </div>
</div>

<% include ../partials/footer %>